body,html {
  
  background: linear-gradient(black, cyan);
  margin: 0;
  /* height: 100%; */
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
}

/* .container {
  background: linear-gradient(black, cyan);
  width: 100%;
} */

.nav-brand {
  font-weight: bolder;
}

.nav-item {
  padding: 0 10px;
  font-weight: bold;
}

.head {
  color: #F2AA4CFF;
  font-weight: 1000;
  font-style: italic;
}

.exp-heading {
  color:  beige;
}

.sub-head {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  color: beige;
}

.exp-req-btns {
  align-items: center;
  margin-bottom: 40px;
}

.exp-btn1 {
  margin-top: 20px;
  width: 300px;
  /* align-items: center; */
}

.req-btn1 {
  margin-top: 20px;
  width: 300px;
}

.image {
  margin-bottom: 40px;
}

.form {
  background-color: black;
  color: white;
  margin-top: 100px;
  margin-bottom: 70px;
}

.form-head {
  padding-top: 20px;
}

.form-btn {
  margin-bottom: 20px;
}